<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />
</head>

<body>
	<div class="container">
		<div class="d-flex flex-row-reverse">
				<span class="btn btn-danger m-2"><a th:href="@{'/LogoutAction'}" class="text-white">Logout</a></span>
		</div>
		<div class="row justify-content-center p-3">
			<div class="col">
				<h1 class="text-center">Home</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col"></div>
			<div class="col-5">
				<h3>Elenco dei Corsi:</h3>
			</div>
			<div class="col"></div>
		</div>
		<div th:if="${courses.isEmpty()}" class="alert alert-danger">
			<p>Nessun corso, i tuoi dati non sono ancora stati inseriti, contatta la segreteria</p>
		</div>
		<div class="row justify-content-center" th:each="course : ${courses}">
			<div class="col"></div>
			<div class="col-5 p-2 mb-2 ">
				<h4 th:text="${course.courseName}">ClassName</h4>
				<div th:if="${course.examSessionList.isEmpty()}" class="alert alert-warning">
					<p>Nessun Appello registrato per il corso</p>
				</div>
				<ul>
					<li th:each="exameSession : ${course.examSessionList}"><a
						th:href="@{'/Esito?examSessionID='+${exameSession.sessionId}}"
						th:text="${exameSession.sessionDate}">Data</a></li>
				</ul>
			</div>
			<div class="col"></div>
		</div>
	</div>
</body>
</html>