<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Iscritti</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container">
		<div class="d-flex flex-row-reverse">
				<span class="btn btn-danger m-2"><a th:href="@{'/LogoutAction'}" class="text-white">Logout</a></span>
		</div>
		<h1 class="text-center">Iscritti</h1>
		<div class="row justify-content-center text-center">
			<div class="col">
				<table class="table">
					<thead>
						<tr
							th:with="magicUrl= ${'Iscritti?examSessionID=' + examSession.sessionId}">
							<th><a
								th:href=" ${magicUrl} + '&tableOrder=SerialNumber&ascending=' + ${ascendingSerialNumber}">Matricola</a></th>
							<th><a
								th:href=" ${magicUrl} + '&tableOrder=Surname&ascending=' + ${ascendingSurname}">Cognome
									e Nome</a></th>
							<th><a
								th:href=" ${magicUrl} + '&tableOrder=Mail&ascending=' + ${ascendingMail}">Email</a></th>
							<th><a
								th:href=" ${magicUrl} + '&tableOrder=DegreeCourse&ascending=' + ${ascendingDegreeCourse}">Corso
									di laurea</a></th>
							<th><a
								th:href=" ${magicUrl} + '&tableOrder=Result&ascending=' + ${ascendingResult}">Voto</a></th>
							<th><a
								th:href=" ${magicUrl} + '&tableOrder=State&ascending=' + ${ascendingState}">Stato
									di valutazione</a></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${examSession.subscribers.isEmpty()}">
							<td colspan="6">Nessun Iscritto al Corso</td>
						</tr>
						<tr th:each="subscriber : ${examSession.subscribers}">
							<td><span th:text="${subscriber.serialNumber}">
									Matricola </span></td>
							<td><span
								th:text="${subscriber.surname + ' ' + subscriber.name}">
									Cognome e Nome </span></td>
							<td><span th:text="${subscriber.mail}"> Email </span></td>
							<td><span th:text="${subscriber.degreeCourse}"> Corso
									di laurea </span></td>
							<td><span
								th:text="${examSession.results.get(subscriberStat.index)}">
									Voto </span></td>
							<td><span
								th:text="${examSession.states.get(subscriberStat.index)}">
									Stato di valutazione </span></td>
							<td>
								<form method="get" th:action="@{'/ExamSessionResult'}"
									th:if="${examSession.states.get(subscriberStat.index)} == 'NON INSERITO' or ${examSession.states.get(subscriberStat.index)} == 'INSERITO' ">
									<input type="hidden" id="examSessionID" name="examSessionID"
										th:value="${examSession.sessionId}"> <input
										type="hidden" id="studentId" name="studentId"
										th:value="${subscriber.serialNumber}">
									<button type="submit" class="btn btn-dark">Modifica</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				<form method="post" th:action="@{'/Iscritti'}">
					<input type="hidden" id="examSessionID" name="examSessionID"
						th:value="${examSession.sessionId}">
					<button type="submit" class="btn btn-primary m-2">Pubblica</button>
				</form>

				<form method="get" th:action="@{'/Verbale'}">
					<input type="hidden" id="examSessionID" name="examSessionID"
						th:value="${examSession.sessionId}">
					<button type="submit" class="btn btn-success m-2">Verbalizza</button>
				</form>
				<a th:href="@{'/HomeTeacher'}"> Ritorna alla home </a>
			</div>
		</div>
	</div>
</body>
</html>