<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Verbale</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container">
		<div class="d-flex flex-row-reverse">
				<span class="btn btn-danger m-2"><a th:href="@{'/LogoutAction'}" class="text-white">Logout</a></span>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<h1 class="text-center">Verbale</h1>
				<p class="text-center">
					Verbale numero: <span th:text="${reportId}">reportId</span><br />
					Creato in Data: <span th:text="${creationData}">dd-MM-yyyy
						HH:mm</span> <br /> Associato all'appello del: <span
						th:text="${examSession.sessionDate}">data dell' appello</span><br />
				</p>
				<table class="table">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Cognome</th>
							<th>Matricola</th>
							<th>Voto</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${students.isEmpty()}">
							<td colspan="4">Verbale Vuoto</td>
						</tr>
						<tr th:each="student : ${students}">
							<td><span th:text="${student.name}"> Nome </span></td>
							<td><span th:text="${student.surname}"> Cognome </span></td>
							<td><span th:text="${student.serialNumber}">
									Matricola </span></td>
							<td><span th:text="${results.get(studentStat.index)}">
									Voto </span></td>
						</tr>
					</tbody>
				</table>
				<a
					th:href="@{'/Iscritti?examSessionID='+ ${examSession.sessionId} +'&tableOrder=SerialNumber&ascending=true'}">
					Ritorna alla pagina degli iscritti </a>
			</div>
		</div>
	</div>
</body>
</html>