<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>Project TIW</display-name>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/TIW</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>TIWuser</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>TIWpass</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <filter>
        <filter-name>TeacherChecker</filter-name>
        <filter-class>it.polimi.tiw.withJavaScript.filters.TeacherChecker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TeacherChecker</filter-name>
        <url-pattern>/Teacher.html</url-pattern>
        <url-pattern>/GetTeacherCourses</url-pattern>
        <url-pattern>/GetSubscribedStudents</url-pattern>
        <url-pattern>/Verbale</url-pattern>
        <url-pattern>/ExamSessionResult</url-pattern>
        <url-pattern>/SetBulkOfResult</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>StudentChecker</filter-name>
        <filter-class>it.polimi.tiw.withJavaScript.filters.StudentChecker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StudentChecker</filter-name>
        <url-pattern>/Student.html</url-pattern>
        <url-pattern>/GetExamResult</url-pattern>
        <url-pattern>/GetStudentCourses</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>