<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container pt-5">
		<h1 class="text-center">Entra nel portale Valutazioni</h1>
		<div class="d-flex justify-content-center">

			<form action="LoginAction" method="POST">
				<fieldset>
					<label for="id_mailInput">Mail</label>
					<input type="email" name="mail" class="form-control" id="id_mailInput" required>
					
					<label for="id_passwordInput">Password</label>
					<input type="password" name="password" class="form-control" id="id_passwordInput" required>
					
					<br> <input type="submit" value="LOGIN" class="btn btn-success mt-3">
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>